body{
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: arial;
}
header{
	width: 100%;
	height: 60px;
}
header nav{
	display: flex;
	justify-content: flex-end;
}

header nav .nav-right-section{
	width: 250px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;


}

nav .nav-right-section a{
	margin-right: 10px;
	color: #000000;
}

a{
	text-decoration: none;
}
nav .nav-right-section .menu-icon{
	background-image: url(../images/img1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
}

nav .nav-right-section img{
	border-radius: 50%;
	margin-left: 15px;
}

main{
	margin-top: 150px;
	text-align: center;
}

main .main-logo{
	width: 540px;
	margin: 0 auto;
}

main .main-input{
	width: 550px;
	margin: 0 auto;
	margin-bottom: 35px;
}


main .main-input input{
	width: 450px;
	height: 25px;
	border: none;
	outline: none;
}

main .main-input-container{
	width: 540px;
	border-radius: 100px;
	border: 1px solid gray;
	align-items: center;
	justify-content: center;
	display: flex;
}

main .main-input .search-icon{
	background-image: url(../images/lupa.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

main .main-input .micro-icon{
	background-image: url(../images/micro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

main .main-buttons{
	width: 540px;
	margin: 0 auto;

}

main .main-buttons div{
	display: inline-block;
}

main .main-buttons button{
	margin-right: 15px;
	padding: 0 15px;
	border-radius: 4px;
	background-color: #f2f2f2;
	height: 40px;
	border: 0;
	font-size: 15px;
}

main .main-buttons button:hover{
	border: 2px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	color: #222;
}

footer{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	font-size: 15px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4; 

}

footer ul{
	display: flex;
	padding-left: 6px;
	margin: 12px;
	list-style: none;

}

footer .footer-left{
	justify-content: left;
}

footer .footer-right{
	justify-content: right;
}

footer ul li a{
	margin: 12px;

}